$primary-font: 'Noto Sans KR', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$clear-blue: #157eff;
$black-Four: #333333;
$gray-bg: #f4f5f8;
$grayer: #abacaf;
$greyish: #a9a9a9;
$black-Two: #1a1a1a;
$black-Three: #202020;
